<!--footer-->  

    

             <div class="footer" id="foot">
                 <div class="socials">
                        <img src="/images/Extras icons/twitter.png">
                        <img src="/images/Extras icons/instagram.png">
                        <img src="/images/Extras icons/facebook.png">
                 </div>
                 <% var year = new Date().getFullYear();; %>
                 <div>About us</div>
                 <div><hr></div>
                 <div>© <%= year %> ZeQR. All rights reserved</div>


             </div>
     

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
       <script src="/scripts/code.js"></script>


</body>
</html>