body{
    padding: 0;
    margin: 0;
}

.header{
    background-position: center;
    background-size: cover;

}
a{
    list-style: none;
    text-decoration: none;
    color: black;
}

/*intro style*/
.secLogo{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}
.logo > img{
    width: 90px;
  
}

.secLogo :hover{
     width: 95px;
    cursor: pointer;
}

/*section name style*/

.secName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 340px;
}
.secName > div > h1{
    margin-left: 50px;
    margin-bottom: -20px;
    font-size: 80px;
}
.secName > div > h2{
    margin-left: 140px;
    margin-bottom: -20px;
}
.secName > div > h3{
    margin-left: 240px;
}


/* navBar style*/
.navBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 75px;
}

/*provices style*/
.provices{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 65px;
}

.pCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.pCard >a :hover{
    border: none;
}

.pCard :hover{
  /* color: #C4E1E6;*/
    border-bottom: 5px solid #C4E1E6;
}

.pCard > a > img{
    margin-top: 5px;
    width: 35px;
    height: 30px;
}

.pCard > a > img :hover{
  width: 50px;
}

.pCard > a > p{
    font-size: 9px;
}


.home > a > p{
    margin-left: 10px;
}


.home > a  :hover{
   color: #C4E1E6;
}
.HOME{
    color: yellow;
    text-decoration: underline;
}

.day > p{
    margin-right: 30px;
}

.line{
    width: 900px;
    margin-top: -4px;
    height: 2px;
    background-color: black;
}


/*content information*/
.content{
    /*border: 5px solid orange;*/
   /*height: 1000px;*/
}

/*information 1 style*/
.infor1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;  
}
.infor1A{
   width: 50%;
   margin-left: 40px;
}

.infor1A > h2{
    text-decoration: underline;
}
.infor1B > img{
    width: 400px;
}


/*infromation 2 style*/
.infor2{
   display:  flex;
   flex-wrap: wrap;
}

.results{
    width: 50%;
     display: flex;
    justify-content: center;
    justify-content: flex-end;
}

/*card style*/
.card{
    width: 350px;
    /* border: 1px solid;*/
     margin-bottom: 20px;
     border-radius: 20px;
}

.desIcon{
 height: 300px;
 border-radius: 20px;
}

.desIcon > div{
    display: flex;
    justify-content: flex-end;
}
.desIcon > div > p {
    font-size: 30px;
}

.country{
    display: flex;
    justify-content: space-between;
}


.tempIcon{
    display: flex;
    justify-content: flex-end;
}

.iconA{
    width: 40px;
}
/*location style*/
.location{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.location > form{
    margin-left: 20px;
    text-align: center;
}

/*form style*/
#latitude{
    margin-left: 15px;
}
#submit{
    width: 90px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
}
/*no data style*/
.noData{
   width: 100%;
}

.card1{
    border: none;
}


/*content  for provices*/

.cProvices{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.cImg > img{
    width: 400px;
}















/*footer style*/
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
   /* background-image: url("../images/background/sunset-sky.jpg");*/
}

.socials{
    display: flex;
    justify-content: center;
    gap:10px;
}

.socials > img{
   width: 30px;
}













/*media query*/

@media(max-width:414px){
    /*section name style*/

.secName > div > h1{
    margin-left: 0;
}
.secName > div > h2{
    margin-left: 25px;
}
.secName > div > h3{
    margin-left: 80px;
}


}

@media (max-width:1152px){
   .line{
    width: 0px;
} 

.provices{
   
    margin-left: 0px;
}

}

@media (max-width:1031px){
    .navBar{
      height: auto;
   }

   .day > p{
    margin-left: 10px;
   }
}

@media(max-width:970px){
    .infor1A{
   width: 100%;
   margin-left: 10px;
 }
}
@media(max-width:571px){
    .results{
    width: 100%;  
  }

  .location{
     margin-top: 20px;
     margin-bottom: 20px;
}

}




/*font style*/
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}

.nunito{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:2opx;
  font-style: normal;
}